<div class="image-dialog" *ngIf="imageDialogOpened">
    <svg class="preview-spinner" *ngIf="!previewLoaded" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M2 11h5v2H2zm15 0h5v2h-5zm-6 6h2v5h-2zm0-15h2v5h-2zM4.222 5.636l1.414-1.414 3.536 3.536-1.414 1.414zm15.556 12.728-1.414 1.414-3.536-3.536 1.414-1.414zm-12.02-3.536 1.414 1.414-3.536 3.536-1.414-1.414zm7.07-7.071 3.536-3.535 1.414 1.415-3.536 3.535z"></path></svg>
    <div class="close-btn" [routerLink]="'/'" [queryParams]="{}">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
    </div>
    <div class="preview-container">
        <img [src]="previewImage" (load)="previewLoaded = true">
        <a [href]="downloadUrl+'/'+previewImageId+'/download/'" class="download-btn" *ngIf="previewLoaded">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m18.707 12.707-1.414-1.414L13 15.586V6h-2v9.586l-4.293-4.293-1.414 1.414L12 19.414z"></path></svg>
        </a>
    </div>
</div>

<section class="search-section">
    <div class="notification-container" #notification>{{errorMsg}}</div>
    <div class="search-container container">
        <h2>Stock photos & wallpapers for free.</h2>
        <form class="search-wrapper" [formGroup]="searchForm">
            <input type="text" [placeholder]="searchPlaceHolder" formControlName="search" (keydown.enter)="searchImages()">
            <div class="search-icon" (click)="searchImages()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path></svg>
            </div>
        </form>
    </div>
    <button class="floating-btn" (click)="scrollToTop()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path></svg>
    </button>
</section>

<section class="card-section">
    <div class="cards-wrapper">
        <div class="img-card" *ngFor="let image of imagesList" [ngStyle]="{ 'height' : cardPreloaderHeight }">
            <div class="card-preloader" *ngIf="!imagesLoadedList.get(image.src.portrait)">
                <svg class="card-preload-spinner" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M2 11h5v2H2zm15 0h5v2h-5zm-6 6h2v5h-2zm0-15h2v5h-2zM4.222 5.636l1.414-1.414 3.536 3.536-1.414 1.414zm15.556 12.728-1.414 1.414-3.536-3.536 1.414-1.414zm-12.02-3.536 1.414 1.414-3.536 3.536-1.414-1.414zm7.07-7.071 3.536-3.535 1.414 1.415-3.536 3.535z"></path></svg>
            </div>
            <img [src]="image.src.portrait" [alt]="image.alt" (click)="getPreviewImage(image)" (load)="onThumbnailLoad(image.src.portrait)" #imageCard>
            <a [href]="downloadUrl+'/'+image.id+'/download/'" class="download-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m18.707 12.707-1.414-1.414L13 15.586V6h-2v9.586l-4.293-4.293-1.414 1.414L12 19.414z"></path></svg>
            </a>
        </div>
    </div>
    <button *ngIf="imagesList.length != 0" class="load-more-btn" (click)="loadMore()">Load More</button>
</section>

<div class="bottom-bar" [ngClass]="deviceOnlineStatus == 'Online' ? 'bottom-bar-close' : 'bottom-bar-open'" #bottomBar>{{deviceOnlineStatus}}</div>